node_modules

dist

coverage
*.log
*.tsbuildinfo
*.tgz   
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lz

*.tar.lzma

.DS_STORE
*.swp
*.swo
*.swn

.env
*.env.local
*.env.development
*.env.test


*.env.production
*.env.development.local
*.env.test.local